/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* line 5, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background-color: #4a69bd;
  font-family: 'Montserrat', sans-serif;
  color: yellow;
  font-weight: 700;
  font-size: 16px;
}

/* line 17, ../sass/screen.scss */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 24, ../sass/screen.scss */
div.title {
  text-align: center;
  display: block;
  font-size: 2rem;
  padding: 20px;
}
/* line 30, ../sass/screen.scss */
div.title p {
  font-size: 1rem;
}

/* line 35, ../sass/screen.scss */
div.clock {
  height: 300px;
  width: 300px;
  border: 15px solid white;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* line 42, ../sass/screen.scss */
div.clock .hour {
  background-color: white;
  border-radius: 5px;
  height: 80px;
  width: 12px;
  transform-origin: top;
}
/* line 50, ../sass/screen.scss */
div.clock .minute {
  background-color: white;
  border-radius: 5px;
  width: 7px;
  height: 120px;
  transform-origin: top;
}
/* line 58, ../sass/screen.scss */
div.clock .second {
  background-color: white;
  border-radius: 5px;
  width: 2px;
  height: 130px;
  transform-origin: top;
}
/* line 66, ../sass/screen.scss */
div.clock::after {
  content: '';
  background-color: yellow;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 4px;
}
/* line 79, ../sass/screen.scss */
div.clock .three {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
/* line 85, ../sass/screen.scss */
div.clock .six {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(0%, -50%);
}
/* line 91, ../sass/screen.scss */
div.clock .nine {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}
/* line 97, ../sass/screen.scss */
div.clock .twelve {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
